<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-md-6">
        <div id="playgroundCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% playground.images.forEach((img, i) => {  %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %>

            </div>
            <% if(playground.images.length > 1) {%>
            <a class="carousel-control-prev" href="#playgroundCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#playgroundCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <% } %>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= playground.title%></h5>
                <p class="card-text"><%= playground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= playground.location%></li>
                <li class="list-group-item">Submitted by <%= playground.author.username%></li>
                <li class="list-group-item">$<%= playground.price%></li>
            </ul>
            <%  if( currentUser && playground.author.equals(currentUser._id))  {%>
            <div class="card-body">
                <a class="card-link btn btn-primary" href="/playgrounds/<%=playground._id%>/edit">Edit</a>
                <form class="d-inline" action="/playgrounds/<%=playground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div id='map' class="mb-3" ></div>
        <!-- <div class="mb-n5"> -->
        <h3>What do you think about this playground?</h3>

        <% if(currentUser){ %>
        <form action="/playgrounds/<%=playground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <fieldset class="starability-heart">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                    aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Nah">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Work tuh do">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Alright">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Sweet fuh days">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Best in Bim">5 stars</label>
            </fieldset>
        <!-- </div> -->
            <div class="mb-3">
                <label class="form-label" for="body"></label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required placeholder="Include your experience and any helpful tips"></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } else {%>
            <p><a href="/login">Login</a> or <a href="/register">register</a> to leave a review</p>
            <% } %>
       
            <% for(let review of playground.reviews) { %>
        <div class="card mb-3">
            <!-- Maybe because it's a card the top margin is annoying -->
            <div class="card-body">
                <h5 class="card-title"> <%= review.author.username%></h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%= review.rating %> stars
                </p>
                <!-- <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username%></h6> -->
                <p class="card-text">Review: <%= review.body %></p>
                <%  if( currentUser && review.author.equals(currentUser._id))  {%>
                <form action="/playgrounds/<%=playground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const playground = <%- JSON.stringify(playground) %>
</script>

<script src="/javascripts/showPageMap.js"></script>